.btn {
    display: block;
    width: 147px;
    height: 48px;
    background:transparent;
    border: 2px solid #AAE632;
    color: #AAE632;
    font-family: "LabGrotesque";
    font-size: 18px;
    line-height: 34px;
    border-radius: unset;
}