.footer {
    height: 122px;
    padding-top: 31px;
    &__links {
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        &>a {
            margin-right: 121px;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            transition: all 0.3s ease-in-out;
            position: relative;
            & > span {
                margin-right: 16px;
                text-decoration: none;
            }
            &:hover {
                &::before {
                    content: '';
                    width: 76%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 48px;
                }
            }
            &:nth-child(2),
            &:nth-child(3) {
                &:hover {
                    &::before {
                        width: 82%;
                    }
                }
            }
            
        }
    }
    & .col-1 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 49px;
        padding: 0;
    }
    & .col-md-12 {
        width: 95%;
    }
    &__age {
        width: 49px;
        height: 49px;
        background: #fff;
        color: #050505;
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        line-height: 49px;
    }
}