@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities';
@import '../../node_modules/bootstrap/scss/bootstrap';


@import 'fonts';
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: transparent;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	// height: 100%;
	// width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:active, a:hover, a:focus{text-decoration: none; font-weight: normal;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


* {
	font-family: "LabGrotesque";
}


body{
    background-color: #050505;
	// position: relative;
}
.container {
    max-width: 1300px !important;
}
.f1 {
    flex: 10;
}

section {
	// &::before {
	// 	content: '';
	// 	display: block;
	// 	width: 1px;
	// 	height: 250px;
	// 	margin-top: -250px;
	// 	background: red;
	// }
	border-top: 130px solid transparent;
	margin-top: -140px;
}

@import 'btns';
@import 'header';

@import 'promo';
@import 'schedule';
@import 'prizes';
@import 'employment';
@import 'jury';
@import 'organizers';
@import 'faq';
@import 'bottom';
@import 'footer';

@import 'media/media-1365';
@import 'media/media-1200';
@import 'media/media-834';
@import 'media/media-720';
@import 'media/media-540';